
@{
    ViewBag.Title = "Index";
}

<br /><br /><br /><br />
<div class="container col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Home</h2></div>
        <div class="panel-body">
            <p>Today, Adventure World is led by Chief Executive Officer (CEO) Mark Shaw and his Executive Leadership Team. Mark joined the business in 2010 and brought Senior management Theme Park experience from the United Kingdom Attractions giant Merlin Entertainments, now the 2nd largest attractions group in the world behind Disneyand. Since then Mark and the team have overseen significant developments and improvements and as a result, the Theme Park has seen extensive growth in Guest numbers and satisfaction.</p>
            <p>The business’ ‘common purpose’ statement is “we create happiness and long lasting magical memories by providing the finest theme park entertainment for people of all ages all of the time” and this underpins every business decision.</p>
            <p>Adventure World is committed to providing Guests with unique and memorable experiences, driven by excellent customer service and ‘pristine presentation standards’ that ensures each visit to the Theme Park exceeds expectations.During the Adventure World trading period 2014/15, Adventure World achieved the highest percentage of 4 and 5 star reviews of any theme park, amusement park or water park in Australia at a combined 82.5%.</p>
            <p>
                <div class="container">
                    <img class="img-rounded" src="~/Images/CroppedImage1170500-1-Kraken-theming.jpg"/>
                </div>
            </p>

        </div>

    </div>
</div>


