@model MVCPart1.Models.Introduction

@{
    ViewBag.Title = "Main";
}

<div class="row alert-info" style="padding:10px;">
    <h2>@Model.TitleName</h2>
</div>
<div class="row">
    <p>Today date is  @Model.MyDate</p>
</div>

